/* ..........Projet Reservia......... */

* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  font-size: 83%;
}

main {
  padding: 0px 25px;
}

a {
  text-decoration: none;
  color: black;
}

/* HEADER */
#header {
  /* border: 3px black solid; */
  margin: 15px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 700px) {
  /* MARGIN INITIAL 15PX */
  #header {
    margin: 15px 0px;
  }
  /* ESSAIE */
  #logo {
    padding-left: 15px;
  }
  /* ESSAIE */

  #navigation {
    order: 1;
  }

  nav {
    width: 100%;
  }

  nav a:hover {
    flex-grow: 1;
  }

  ul li {
    flex-grow: 1;
    margin: 0px;
    width: 50%;
  }

  ul li .padding-right {
    display: flex;
    justify-content: flex-end;
  }
  /* PADDING LEFT INITIAL 20 */
  ul li:nth-child(1) {
    padding-left: 35px;
    padding-bottom: 15px;
    border-bottom: 2px solid #c8c1c1;
  }
  /* ......INITAL....... */

  ul li:nth-child(1):hover {
    border-bottom: 2px solid #0065fc;
  }

  /* PADDING RIGHT INITIAL 40 */
  nav li:nth-child(2) {
    justify-content: flex-end;
    padding-right: 50px;
    padding-bottom: 15px;
    border-bottom: 2px solid #c8c1c1;
  }
  /* ......INITAL....... */

  nav li:nth-child(2):hover {
    border-bottom: 2px solid #0065fc;
  }
}

#logo {
  /* border: 3px red solid; */
  /*width: 70%;*/
  display: flex;
  align-items: center;
  flex-grow: 1;
}

header div a {
  margin-left: 0;
}

#navigation {
  /* border: 3px greenyellow solid; */
  display: flex;
}

nav ul {
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  list-style-type: none;
}

ul li .padding-right {
  padding: 18px 20px 0px 20px;
}

@media screen and (max-width: 700px) {
  ul li .padding-right {
    padding-right: 0px;
    padding-left: 0px;
  }
}

li {
  /* border: 3px red solid; */
  margin: 0 25px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

ul li.pop {
  margin: 0px 10px;
}

@media screen and (max-width: 700px) {
  ul li.pop {
    margin: 0px 0px;
  }
}

nav a {
  padding-top: 18px;
  display: flex;
  /* flex-grow: 1; */
  /* align-items: center; */
}

ul li .pip {
  padding: 18px 15px 0px 15px;
}

@media screen and (max-width: 700px) {
  ul li .pip {
    padding-right: 0px;
    padding-left: 0px;
  }
}

nav a:hover {
  border-top: solid 2px #0065fc;
  padding-top: 16px;
  color: #0065fc;
}

@media screen and (max-width: 700px) {
  nav a:hover {
    flex-grow: 1;
    border-top: none;
    padding-top: 16px;
    /* border-bottom: solid 2px blue; */
  }
}

.sinscrire-bleu > a {
  font-weight: bold;
  color: #0065fc;
}

.sinscrire-bleu {
  margin-left: 20px;
  display: flex;
  align-items: center;
  color: #0065fc;
  font-weight: bold;
  margin-right: 0px;
}

/* ESAIE */
@media screen and (max-width: 700px) {
  .sinscrire-bleu {
    margin-right: 15px;
  }
}
/* ESSAIE */

.sinscrire-bleu a {
  height: 100%;
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
}

/* HEADER */

/* MAIN BLOCK PRINCIPALE */

@media screen and (max-width: 700px) {
  #partie_principale {
    padding: 0px;
  }
}

/* SECTION DE RECHERCHE */

#section_recherche {
  /* border: 3px black solid; */
  margin: 0px 35px;
  /* padding: 20px; */
}

@media screen and (max-width: 700px) {
  #section_recherche {
    /* border: 3px black solid; */
    margin: 0px 15px;
    /* padding: 20px; */
  }
}

.header-sect-recherche {
  /* border: 1px black solid; */
}

.bar-de-recherche {
  /* position: relative; */
  display: flex;
  /* flex-wrap: wrap; */
  /* border: 1px black solid; */
}

@media screen and (max-width: 700px) {
  .bar-de-recherche {
    justify-content: center;
  }

  .bar-de-recherche input[type="search"] {
    flex-grow: 1;
  }
  .bar-de-recherche button {
    display: none;
  }
}

.fa-map-marker-alt {
  /* font-display: flex;
  align-items: center; */
  background-color: #f2f2f2;
  font-size: 16px;
  padding: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  /* position: relative;
  right: -5px;
  bottom: -2px;
  left: -3px; */
}

.fa-map-marker-alt::before {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.bar-de-recherche input[type="search"] {
  padding: 10px;
  margin: 0px;
  border: solid 1px #f2f2f2;
  font-size: 15px;
  /* background-color: red; */
}

.bar-de-recherche button {
  background-color: #0065fc;
  color: #ffff;
  font-size: 15px;
  border: none;
  padding: 11px;
  margin: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  /* cursor: pointer;
  position: relative;
  left: -3px; */
}

.fa-search {
  background-color: #0065fc;
  font-size: 16px;
  margin-left: -10px;
  padding: 10px 13.5px;
  border-radius: 15px;
  color: white;
  /* border-top-left-radius: 15px;
  border-bottom-left-radius: 15px; */
}

.fa-search::before {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 700px) {
  .fa-search {
    display: none;
    background-color: transparent;
  }
  .fa-search::before {
    display: none;
  }
}


/* ESSAIE DU 28/06  */
.block-recherche  {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.block-recherche .Filtre {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .block-recherche .Filtre {
    display: flex;
  }

  .categorie-recherche .familial{
    margin-right: 0px;
  }

  .categorie-recherche .animaux {
    margin-right: 26px;
  }
}

/* ESSAIE DU 28/06  */

.categorie-recherche {
  /* border: 1px black solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .categorie-recherche {
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* justify-content: flex-start; */
    /* essaie à la place de flex-start */
    justify-content: space-between;
    /* essaie à la place de flex-start */
    align-items: flex-start;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}

.block-icon-contenu {
  /* border: red 1px solid; */
  position: relative;
  display: flex;
  align-items: center;
  margin: 7px 0px;
}

.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
  display: flex;
  background-color: #deebff;
  color: #0065fc;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: absolute;
}

.fa-money-bill-wave::before,
.fa-child::before,
.fa-heart::before,
.fa-dog::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.categorie-recherche span {
  font-size: 15px;
  font-weight: bold;
  padding: 8px 15px 8px 45px;
  /* padding-left: 50px; */
  border: 2px solid #f2f2f2;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.categorie-recherche span:hover,
i:hover {
  border: 2px solid #0065fc;
  cursor: pointer;
}

.margin-right {
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
}

.Filtre {
  font-size: 15px;
}

.fa-info::before {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  width: 20px;
  height: 20px;
  color: #0065fc;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  margin-right: 10px;
}

.logement-disponible {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
/* SECTION DE RECHERCHE */

/* SECTION HÉBERGEMENT */
/* partie block heberg marseille */
.div-hebergement-orange {
  /* border: 5px orange solid; */
  margin: 0px 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 700px) {
  .div-hebergement-orange {
    margin: 0px;
  }
}

.div-hebergement-orange span {
  font-weight: 900;
  color: black;
}

.sec-heberg-marseille-vert {
  /* border: solid 5px greenyellow; */
  background-color: #f2f2f2;
  width: 68%;
  padding: 20px;
  border-radius: 10px;
  /* margin-right: 20px; */
  /* flex-grow: 1; */
}

/* .sec-heberg-marseille-vert h2 {
margin-left: 20px;
} */

/* 
.sec-heberg-marseille-vert a {
  margin-left: 20px;
  } */

@media screen and (max-width: 1012px) {
  .sec-heberg-marseille-vert {
    /* border: solid 5px greenyellow; */
    background-color: #f2f2f2;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    /* margin-right: 20px; */
    /* flex-grow: 1; */
  }
}

.sec-heberg-marseille-vert > a {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 0;
  /* padding-top: 12px;
  padding-bottom: 15px; */
}

#hebergement-marseille-rouge {
  /* border: 5px red solid; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block-image-et-contenu-marseille {
  /* border: 5px black solid; */
  background-color: white;
  box-shadow: 0 5px 8px #c8c1c1;
  margin: 15px 0;
  border-radius: 10px;
  width: 30%;
  min-width: 205px;
}

@media screen and (max-width: 451px) {
  .block-image-et-contenu-marseille {
    background-color: white;
    margin: 15px 0;
    border-radius: 10px;
    width: 100%;
    min-width: 0px;
  }
}

.conteneur-image-marseille {
  /* border: solid 3px greenyellow; */
  border-radius: 10px;
  height: 100px;
  display: flex;
}

.img-heberg-marseillle {
  /* flex-grow: 1; */
  width: 100%;
  object-fit: cover;
  /* height: 100px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
}

.block-info-marseille {
  margin: 0 10px;
  margin-bottom: 7px;
}

.block-info-marseille h3 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.block-info-marseille p {
  margin-top: 3px;
  margin-bottom: 6px;
}

/* Partie  block populaire */
.sec-plus-populaire {
  /* border: 5px greenyellow solid; */
  background-color: #f2f2f2;
  width: 28%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  min-width: 282px;
  /* flex-grow: 1; */
}

@media screen and (max-width: 1012px) {
  .sec-plus-populaire {
    /* border: 5px greenyellow solid; */
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    min-width: 0px;
    order: 0;
    /* flex-grow: 1; */
  }

  .sec-heberg-marseille-vert {
    /* border: solid 5px greenyellow; */
    background-color: transparent;
    width: 68%;
    padding: 20px;
    border-radius: 10px;
    /* margin-right: 20px; */
    flex-grow: 1;
    order: 1;
  }
}

#les-plus-populaire-rouge {
  /* border: red solid 5px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* flex-grow: 1; */
}

.titre-du-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-chart-line:before {
  font-size: 25px; /* peut on agrandir un icon avec la propriété font-size? */
}

.block-image-et-contenu-pop {
  /* border: 5px black solid; */
  background-color: white;
  box-shadow: 0 5px 8px #c8c1c1;
  /* height: 30%; */
  padding: 5px;
  margin: 10px 0px;
  border-radius: 10px;
  display: flex;
}
.conteneur-image-pop {
  /* border: solid 3px greenyellow; */
  width: 35%;
  height: 115px;
  display: flex;
}

.img-heberg-pop {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
  width: 100%;
  /* flex-grow: 1; */
}

.width-contenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 65%;
  padding: 3px 10px;
}

.width-contenu h3 {
  margin: 0px 0px 0px 0px;
}

.width-contenu p {
  /* height: 100%; */
  padding: 2px 0px;
  margin-top: 0px;
  margin-bottom: 35px;
}

.fa-star-blue {
  color: #0065fc;
}

.fa-star-grey {
  color: #b3acac;
}

img {
  max-width: 100%;
  max-height: 100%;
}
/* SECTION HÉBERGEMENT */

/* SECTION ACTIVITÉ */
#sect_activites {
  /* border: 3px black solid; */
  margin: 25px 35px;
}

@media screen and (max-width: 700px) {
  #sect_activites {
    margin: 20px;
  }
}

.act_globale {
  /* border: red solid 3px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.act_uneimage h3 {
  padding-left: 15px;
  padding-bottom: 15px;
}

.act_doubleimage h3 {
  padding-left: 15px;
}

.contenant-grande-image {
  height: 300px;
}

.contenant-moyenne-image {
  height: 150px;
}

.contenant-petite-image {
  height: 85px;
}

.contenant-meme-taille-image {
  height: 100px;
}

.act_globale .act_uneimage {
  box-shadow: 0 5px 8px #c8c1c1;
  border-radius: 10px;
}

@media screen and (max-width: 700px) {
  .act_globale {
    display: flex;
    flex-direction: column;
    /* box-shadow: 0px 0px 0px; */
  }

  .act_globale .act_uneimage {
    box-shadow: none;
  }

  .act_globale a {
    display: block;
    margin-bottom: 25px;
  }

  .contenant-grande-image {
    height: 150px;
  }

  .act_uneimage h3 {
    padding-left: 15px;
    padding-bottom: 15px;
  }

  .act_doubleimage h3 {
    padding-left: 15px;
  }

  .contenant-moyenne-image {
    height: 150px;
  }

  .contenant-petite-image {
    height: 150px;
  }

  .contenant-meme-taille-image {
    height: 150px;
  }

  .act_globale div {
    width: 100%;
  }
}

.act_globale .contenu_cliquable {
  box-shadow: 0 5px 8px #c8c1c1;
  border-radius: 10px;
}

.largeur_image {
  width: 23%;
  /* min-width: 145px; */
}

/* .act_uneimage {
  border: orange solid 3px;
  display: flex;
} */

.act_doubleimage {
  /* border: blue solid 3px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grande-image,
.moyenne-image,
.petite-image,
.meme-taille {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* SECTION ACTIVITÉ */
/* MAIN BLOCK PRINCIPALE */

/* SECTION FOOTER */
#infos_general {
  /* border: 3px black solid; */
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 30px;
  padding: 20px 60px;
}

@media screen and (max-width: 700px) {
  #infos_general {
    padding: 20px 20px;
  }
}

footer div {
  width: 30%;
  min-width: 200px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

/* footer div h3 {
  font-weight: ;
} */

footer div a {
  padding-bottom: 7px;
}
/* SECTION FOOTER */
