* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  font-size: 62.5%;
}

main {
  padding: 0px 25px;
}

a {
  text-decoration: none;
  color: black;
}

/* h1 {
  font-size: max(2vw, 20px);
} */

/* #block_page {
  max-width: 2500px;
  margin: auto;
} */

/* HEADER */
#header {
  /* border: 3px black solid; */
  margin: 0 60px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#logo {
  /* border: 3px red solid; */
  /*width: 70%;*/
  display: flex;
  align-items: center;
}

#navigation {
  /* border: 3px greenyellow solid; */
  display: flex;
  /* flex-wrap: wrap; Pourquoi il ne se met pas en wrap ? */
}

nav ul {
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  /* border: 3px red solid; */
  margin: 0 25px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

nav a {
  padding-top: 18px;
  display: flex;
  /* flex-grow: 1; */
  /* align-items: center; */
}

nav a:hover {
  border-top: solid 2px blue;
  padding-top: 16px;
  color: blue;
}

/* .bar-haut:hover {
  border-top: solid 2px blue;
} */

.sinscrire-bleu > a {
  font-weight: bold;
  color: blue;
}

.sinscrire-bleu {
  margin-right: 0px;
}

nav a {
  text-decoration: none;
}

/* HEADER */

/* MAIN BLOCK PRINCIPALE */
/* SECTION DE RECHERCHE */

#section_recherche {
  border: 3px black solid;
  margin: 0px 35px;
  padding: 20px;
}

.header-sect-recherche {
  /* border: 1px black solid; */
}

.bar-de-recherche {
  /* border: 1px black solid; */
}

.fa-map-marker-alt {
  background-color: #e6e5e5;
  font-size: 17px;
  padding: 11px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  /* position: relative;
  right: -5px;
  bottom: -2px;
  left: -3px; */
}

.bar-de-recherche input[type="recherche"] {
  padding: 10px;
  margin: 0px;
  /* background-color: red; */
}

.bar-de-recherche button {
  background-color: #0065fc;
  color: #ffff;
  padding: 10px;
  margin: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  position: relative;
  left: -10px;
}

.categorie-recherche {
  /* border: 1px black solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.economique {
  position: relative;
  display: flex;
  align-items: center;
}
.fa-money-bill-wave {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0065fc;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
}

.categorie-recherche span {
  font-size: 12px;
  padding: 8px;
  padding-left: 40px;
  border: 1px solid;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.margin-right {
  margin-right: 20px;
}

/* i {
  display: block;
  background-color: greenyellow;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.economique {
  display: flex;
  align-content: flex-end;
} */

.logement-disponible {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
/* SECTION DE RECHERCHE */

/* SECTION HÉBERGEMENT */
/* partie block heberg marseille */
.div-hebergement-orange {
  border: 5px orange solid;
  margin: 0px 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sec-heberg-marseille-vert {
  /* border: solid 5px greenyellow; */
  background-color: #f2f2f2;
  width: 68%;
  padding: 20px;
  border-radius: 10px;
  /* margin-right: 20px; */
  /* flex-grow: 1; */
}

@media screen and (max-width: 1012px) {
  .sec-heberg-marseille-vert {
    /* border: solid 5px greenyellow; */
    background-color: #f2f2f2;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    /* margin-right: 20px; */
    /* flex-grow: 1; */
  }
}

.sec-heberg-marseille-vert > a {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 15px;
}

#hebergement-marseille-rouge {
  /* border: 5px red solid; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.block-image-et-contenu-marseille {
  /* border: 5px black solid; */
  background-color: white;
  margin: 15px 0;
  border-radius: 10px;
  width: 30%;
  min-width: 222px;
}

@media screen and (max-width: 613px) {
  .block-image-et-contenu-marseille {
    /* border: 5px black solid; */
    background-color: white;
    margin: 15px 0;
    border-radius: 10px;
    width: 100%;
    min-width: 0px;
  }
}

.conteneur-image-marseille {
  /* border: solid 3px greenyellow; */
  border-radius: 10px;
  height: 100px;
  display: flex;
}

.img-heberg-marseillle {
  /* flex-grow: 1; */
  width: 100%;
  object-fit: cover;
  /* height: 100px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
}

.block-info-marseille {
  margin: 0 10px;
  margin-bottom: 7px;
}

.block-info-marseille h3 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.block-info-marseille p {
  margin-top: 3px;
  margin-bottom: 6px;
}

/* Partie  block populaire */
.sec-plus-populaire {
  /* border: 5px greenyellow solid; */
  background-color: #f2f2f2;
  width: 28%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  min-width: 282px;
  /* flex-grow: 1; */
}

@media screen and (max-width: 1012px) {
  .sec-plus-populaire {
    /* border: 5px greenyellow solid; */
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    min-width: 0px;
    /* flex-grow: 1; */
  }
}

#les-plus-populaire-rouge {
  /* border: red solid 5px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* flex-grow: 1; */
}

.titre-du-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-chart-line:before {
  font-size: 25px; /* peut on agrandir un icon avec la propriété font-size? */
}

.block-image-et-contenu-pop {
  /* border: 5px black solid; */
  background-color: white;
  /* height: 30%; */
  padding: 5px;
  margin: 15px 0px;
  border-radius: 10px;
  display: flex;
}
.conteneur-image-pop {
  /* border: solid 3px greenyellow; */
  width: 35%;
  height: 115px;
  display: flex;
}

.img-heberg-pop {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
  width: 100%;
  /* flex-grow: 1; */
}

.width-contenu {
  width: 65%;
  padding: 3px 10px;
  /* padding-left: 5px; */
}

.fa-star-blue {
  color: #0065fc;
}

.fa-star-grey {
  color: #b3acac;
}

img {
  max-width: 100%;
  max-height: 100%;
}
/* SECTION HÉBERGEMENT */

/* SECTION ACTIVITÉ */
#sect_activites {
  border: 3px black solid;
  margin: 0 35px;
}

.act_globale {
  border: red solid 3px;

  display: flex;
  justify-content: space-between;
}

.largeur_image {
  width: 22%;
}

.act_uneimage {
  border: orange solid 3px;
  display: flex; /* pourquoi le fait de le mettre en flex me permet un utilisation correct du border?*/
}

.act_doubleimage {
  border: blue solid 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenu_cliquable {
  border: greenyellow solid 10px;
}
/* SECTION ACTIVITÉ */
/* MAIN BLOCK PRINCIPALE */

/* SECTION FOOTER */
#infos_general {
  border: 3px black solid;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 20px;
}

footer div {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 5px;
}
/* SECTION FOOTER */
